In [2]:
import os, random, csv, datetime, json
import pandas as pd
import numpy as np
import argparse
import time
from tqdm import tqdm

In [16]:
TRAIN_FILES = ['202008'+str(i).zfill(2)+'.csv' for i in range(1,32)]
PATH = '/media/fan/hdd/giscup/giscup_2021/train_head/'
drivers = {}
for i,fn in enumerate(TRAIN_FILES):   
    with open(PATH+fn, 'r') as f:
        next(f)
        for line in tqdm(f.readlines()):
            did = line.split(',')[4]
            if(did in drivers.keys()):
                drivers[did].append(int(line.split(',')[1])-int(line.split(',')[3]))
            else:
                drivers[did] = [int(line.split(',')[1])-int(line.split(',')[3])]

100%|██████████| 74328/74328 [00:00<00:00, 114498.54it/s]
100%|██████████| 74129/74129 [00:00<00:00, 538553.91it/s]
0it [00:00, ?it/s]
100%|██████████| 172161/172161 [00:00<00:00, 537413.44it/s]
100%|██████████| 315756/315756 [00:00<00:00, 547078.84it/s]
100%|██████████| 307051/307051 [00:00<00:00, 549724.66it/s]
100%|██████████| 308233/308233 [00:00<00:00, 554968.70it/s]
100%|██████████| 323961/323961 [00:00<00:00, 548120.58it/s]
100%|██████████| 323131/323131 [00:00<00:00, 549929.56it/s]
100%|██████████| 291629/291629 [00:00<00:00, 542934.39it/s]
100%|██████████| 290647/290647 [00:00<00:00, 543572.73it/s]
100%|██████████| 288994/288994 [00:00<00:00, 539325.75it/s]
100%|██████████| 297846/297846 [00:00<00:00, 536432.64it/s]
100%|██████████| 320924/320924 [00:00<00:00, 542186.07it/s]
100%|██████████| 321635/321635 [00:00<00:00, 519144.33it/s]
100%|██████████| 316657/316657 [00:00<00:00, 542925.63it/s]
100%|██████████| 284095/284095 [00:00<00:00, 544443.40it/s]
100%|██████████| 297428/297428 [00:00<00:00, 544690.21it/s]
100%|██████████| 285934/285934 [00:00<00:00, 546038.38it/s]
100%|██████████| 305369/305369 [00:00<00:00, 544936.43it/s]
100%|██████████| 324105/324105 [00:00<00:00, 540382.30it/s]
100%|██████████| 342405/342405 [00:00<00:00, 544459.05it/s]
100%|██████████| 342610/342610 [00:00<00:00, 539564.79it/s]
100%|██████████| 283924/283924 [00:00<00:00, 544467.70it/s]
100%|██████████| 329123/329123 [00:00<00:00, 539230.07it/s]
100%|██████████| 309158/309158 [00:00<00:00, 550197.47it/s]
100%|██████████| 295089/295089 [00:00<00:00, 548697.44it/s]
100%|██████████| 314081/314081 [00:00<00:00, 546862.00it/s]
100%|██████████| 318662/318662 [00:00<00:00, 546325.80it/s]
100%|██████████| 300330/300330 [00:00<00:00, 543495.52it/s]
100%|██████████| 291610/291610 [00:00<00:00, 544410.28it/s]

In [17]:
len(drivers)

80491

In [31]:
std = {}
avg = {}
least = {}
most = {}
cnt = {}
for key,values in drivers.items():
    std[key] = np.std(values)
    avg[key] = np.mean(values)
    least[key] = np.min(values)
    most[key] = np.max(values)
    cnt[key] = len(values)

In [32]:
a = pd.Series(std,name='std')
b = pd.Series(avg,name='avg')
c = pd.Series(least,name='min')
d = pd.Series(most,name='max')
e = pd.Series(cnt,name='count')

In [33]:
driver_attr = pd.concat([a,b,c,d,e],axis=1)

In [34]:
driver_attr.to_csv('/media/fan/hdd/giscup/giscup_2021/driver_attr.csv')

In [36]:
driver_attr.describe()

                std           avg           min           max         count
count  80491.000000  80491.000000  80491.000000  80491.000000  80491.000000
mean     143.880931     97.081723   -204.926911    704.308407    107.477917
std       78.158316    123.759868    235.831741    489.771975     97.391734
min        0.000000   -963.000000  -3673.000000   -963.000000      1.000000
25%      120.344372     43.787885   -323.000000    368.000000      8.000000
50%      154.660022     85.727273   -218.000000    674.000000     93.000000
75%      181.334604    129.000000   -100.000000    960.000000    179.000000
max     1499.428308   4665.000000   4665.000000   8935.000000    606.000000

In [ ]:
head ata simple_eta drvier

In [ ]:
driver_id = ata-simple_eta