In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm

train_dir="../data/train/"

%pwd

'/home/cseadmin/undergrad1/dz/GISCUP2021/data_process'

In [3]:
PATH_FILES = ['202008'+str(i).zfill(2)+'.csv' for i in range(1,32)]

for i, f in tqdm(enumerate(PATH_FILES)):    
    df_path = pd.read_csv(train_dir+'train_path/'+f)
    break

df_path

0it [00:03, ?it/s]

,order_id,link_id,link_time,link_ratio,link_current_status,link_arrival_status,cross_flag
0,5966280,157298,4.5000,1.0000,1,0,0
1,5966280,511622,2.8552,1.0000,1,1,0
2,5966280,524542,2.2345,1.0000,1,0,0
3,5966280,97293,3.6000,1.0000,1,1,0
4,5966280,273845,3.2276,1.0000,1,1,0
...,...,...,...,...,...,...,...
4919823,8854706,494243,17.2000,1.0000,1,0,0
4919824,8854706,294207,3.8400,1.0000,1,1,0
4919825,8854706,90529,3.9600,1.0000,1,1,0
4919826,8854706,16810,18.1125,1.0000,1,1,0
4919827,8854706,34250,23.5408,0.4982,0,0,0

In [11]:
df_path.groupby("order_id").first()["link_id"].value_counts()

498802    89
128108    83
501346    79
216318    65
243912    65
          ..
505208     1
493666     1
40156      1
376505     1
457465     1
Name: link_id, Length: 37593, dtype: int64

In [14]:
df_path.groupby("order_id").last()["link_id"].value_counts()

420035    241
431088    160
30356     150
10322     104
256236     88
         ...
112554      1
36372       1
51486       1
373359      1
360724      1
Name: link_id, Length: 38002, dtype: int64

In [16]:
link_dict = {}
for i, f in tqdm(enumerate(PATH_FILES)):    
    df_path = pd.read_csv(train_dir+'train_path/'+f)

    o_count = df_path.groupby("order_id").first()["link_id"].value_counts()
    d_count = df_path.groupby("order_id").last()["link_id"].value_counts()

    for index, value in o_count.items():
        if index not in link_dict:
            link_dict[index] = [0, 0]
        link_dict[index][0] += value

    for index, value in d_count.items():
        if index not in link_dict:
            link_dict[index] = [0, 0]
        link_dict[index][1] += value

    break

0it [00:04, ?it/s]

In [17]:
df=pd.DataFrame(columns=["o_count", "d_count"])

for key, value in link_dict.items():
    df.loc[key]=value

KeyboardInterrupt:

In [20]:
df.sort_values("o_count", ascending=False)

       o_count d_count
498802      89       4
128108      83       4
501346      79      14
216318      65       5
243912      65      41
...        ...     ...
321070       0       1
107732       0       1
48590        0       1
551897       0       1
436879       0       1

[52928 rows x 2 columns]